# --- identity ---
MYHOSTNAME=relay.infraspec.io

# --- inbound SASL (devices) ---
INBOUND_USER=chooseUser
INBOUND_PASS=ChoosePasswd
INBOUND_REALM=yourdomain.com

# --- outbound M365 auth ---
M365_USER=TheEmail@example.com
M365_PASS=InsertPasswd

# Certificates (self-signed)
SELF_SIGNED_DAYS=36500


